# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv_*
*.egg

# Env
.env
*.local.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# DB dump
scripts/stock_data.sql

# Git
.git/
